<!DOCTYPE html>
    <head>
        <title>FormData Python</title>
    </head>
    <body>
        <form id = 'form1' action = "http://127.0.0.1:5000/formdata" method="POST">
            <p>Name :<input type = 'text' name="Name"></p>
            <p>Physics :<input type = 'text' name="Physics"></p>
            <p>Chemistry :<input type = 'text' name="Chemistry"></p>
            <p>Maths :<input type = 'text' name="Maths"></p>
            <input type = 'submit' value="submit">
        </form>
    </body>
</html>